@model IEnumerable<PersonsList.Models.PersonDto>

@{
    ViewData["Title"] = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>People</h1>

<p>
    <a class="btn btn-outline-primary" role="button" asp-action="Create">Create</a>
</p>
<p>
    @using (Html.BeginForm("Sort", "Person", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <select name="method" class="custom-select" style="width:15%;">
            <option value="BubbleSort">Bubble Sort</option>
            <option value="ShakerSort">Shaker Sort</option>
            <option value="InsertionSort">Insertion Sort</option>
            <option value="SelectionSort">Selection Sort</option>
            <option value="MergeSort">Merge Sort</option>
        </select>
        <select name="field" class="custom-select" style="width:15%;">
            <option value="Name">Name</option>
            <option value="Surname">Surname</option>
            <option value="Middlename">Middlename</option>
            <option value="Email">Email</option>
            <option value="Age">Age</option>
        </select>
        <select name="order" class="custom-select" style="width:15%;">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
        <input class="btn btn-outline-primary" type="submit" value="Sort"/>
    }
</p>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Middlename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "DeleteSubmit", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>